plugins:
    - "@semantic-release/commit-analyzer"
    - "@semantic-release/release-notes-generator"
    - "@semantic-release/git":
          assets:
              - package.json
              - package-lock.json
          message: "release(travis): Release ${nextRelease.version}\n\n[skip ci]\n\n${nextRelease.notes}"
    - "@semantic-release/npm"
    - "@semantic-release/github"
