plugins:
    - "@semantic-release/commit-analyzer"
    - "@semantic-release/release-notes-generator"
    - "@semantic-release/changelog"
    - "@semantic-release/npm"
    - - "@semantic-release/git"
      - assets:
            - package.json
            - package-lock.json
            - CHANGELOG.md
        message: "release(travis): Release ${nextRelease.version}\n\n[skip ci]\n\n${nextRelease.notes}"
    - "@semantic-release/github"
