language: node_js
dist: bionic
os:
  - linux
  - osx
  - windows
matrix:
  allow_failures:
    - node_js: node
    - node_js: lts/*
node_js:
  - 8
  - 10
  - 12
  - 14
  - lts/*
  - node
env:
  global:
    - secure: m6GYIw709a4vzQQaUn995+d5xg7OhjRl6ynSZj/ih0mZkhmXoXC0tgixyLyaqova3qMZ1JXKlRRRwW5RMIGFQkPCdlhhuQ6Ou85HCyDXqbxHi5uhLbE4MgkAcEZ2N+k5IxLZOarWT2bUasCSDSiIQnxC/UbRkqL9r3ZhDyjWzpK8j06BXyP/NfHO486K4bsd+6hb++6vyvBAzhT0rbCUayAWXpA+E8J7qAE3VaKIPTfzdDL1jA8KJojmL6GaMHA6e1/SlPlK4q2IRx6byXW7scB6/95eT6ETYKTeWtVN4LhprunHeAF+wvlmJ1wFJwY4Ku9hDXEmaES9FYDaaujb+DQDApS8y/u/uaui+hn3vDnJenL2rnGO72bV0AytB4DdsQa9pM2R6xrY8qr0kc+I/rxNtUOEG/iNgXMTOJwIftPrUl0zVvxERuMtX9CiNYNIobzJfOYWlW5MSs3T1E39qvrtIimUu2S+AN09TGO9hhL3J648xEk3bWZ6mV0F9sZal3/wuS8TzZ2ezlCwjEojDuuOBTGoOI1VRWv3+elYR8FrGt6eca1znZMCHX8lrbAA3xb0dqAQHuYZ0pwBhVikOsguNCnipdii0vU6uQKejw+uD4SbdfnZ/Uh1wABynhISWx/1wJwtICk4NabEGAt9A7GjkGT5M/f7EmQpks8l4eE=
    - secure: jHM7P+q7yGbq5w83rGIgolzAp6vQwSQgy9iYTYc5+Gld+OEvFbx6meBWF4Mfe0eZO8JNH9yEdplzZ+45JnLumqX0REOtymAcc+KnXHdhfED6YWD1nNBo2SRs2W/9LvUe65c1ZBpA6yDdpJ970O/e2eSMPksnVnj+ZkEhxfzZAjDIzP0yNa2sivXubwYwfKL+i3WFeI3LpDbHz0FgmesSq1oO8ih5aXU5gDMAa7RTdfr42H+XJ6mHFHBxl3KKtwCinLbSG5KvfCL/fYg4jG+gRZt6h3DK3y/v0+w3Qqg3yuHorCQ9VdLP0ZhcdkJSecy3JT5D07SC4pKeMlCVkbjdMLqhMAb+gQc/Mxt1VbV4tPBohll+vkoohq03p58R1jEzRr8afRwTOvyto3rtKUSBGgOdqODvJi3GXSVxESr5Y9zws7QNdemjoqyOIvlCQCPoE787Kkt1d9nr3RWXgJZ8d2DU+N13YI65yNlzGVEGe8l1miuTvFNcIAUrZs3g1yaodPpLhA/5XosO71LIGMZMHk8sLWQ1wJlIXuhUL0qMzYAEFa8SgGeVj++I6xxdi7dK9cwHc9s7Zk7sg43B2M6qm5djNQxNQzWD/K7goU2WX42olGx0n1kyR0xQK0hV74/3oAID+28zq5Lo5Pjka4757EBXEPtQY1XwnQUyBiZdo/8=
    - secure: t45Kk0NZ8jVlJyzijB5dcTjSO8NXrCrcbGDWsdTuUeHq+HDona+hsLOZFokvDe3E3Bakmq+qeVsiSHjiKM+XHvg2EH2FXBsQqABaNaCrWkQt1kpqDK+pkHFhzdK1ZZkch4lDzXhlHmshEowa7S17dUsL5eTTKdAV6qvO1UoEt4aKjsPvR+e2q6vdsp+wZ+wkW/7SHd8sWEjhJmb9scsDmyLV4+JXZcLMI27PSPnTcqlW1hWT/A7uQ5xJ9MuGr4olQZu7Z7mNrJzTIJu1w4JQ2Yt39c0xshcwZOsS91sGNGsK3OcLrHoS4uf2FzGeKWhAI9uB9/DqaaEpC3XejmbLA1j7xrbYaNV+DHJs5v5LmGB+m4AFtskn8NKYz6bG0qFp4iUs71Ip1XRvEVzOWtF1jFL4Qqh9NlRaA/ooS/Bm5tcI7EMrfL5fBC2PVuLbVDmeIPZGjCNBN07DZVNM1lB6+1v8SdLne5JWGREQzea+Huyhk7qI4X/XKo4lq4HFmajSXWgbQjkVNIJD9BFLItgOODvlWLkPSGDnwFiZiVlMb4vseFyRM9yRMJFtj/TPIrT3rcNnluuED/OuOQWGKXHkJulKaUTRZruKp0wWemHo6LN5DwofoqjL/w+L8KuVeP5Pi6lHvbKzDywlFoYfMOe6in9+TPwemmTB4yZYkFc/fvk=
before_script:
  - npm run pretest
  - >-
    if [[ "$TRAVIS_OS_NAME" == "linux" ]];
      then curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter && chmod +x ./cc-test-reporter && ./cc-test-reporter before-build
    fi;
script: npm run cover
after_script:
  - >-
    if [[ "$TRAVIS_OS_NAME" == "linux" ]];
      then npm run coveralls; ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT;
    fi;
before_deploy:
  - git config --local user.name "$TRAVIS_AUTHOR_NAME"
  - git config --local user.email "$TRAVIS_AUTHOR_EMAIL"
deploy:
  provider: script
  script: npx semantic-release
  skip_cleanup: true
  on:
    branch: master
    node: 10
    os: linux
    condition: "$TRAVIS_OS_NAME = linux"
sudo: false
